<!--HTML about page, displayed to everyone-->
<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="About Page">
    <main>
        <h1>How the E-mentor scheme works:</h1>
        <h4>Matching to mentors</h4>
        <p>You will be able to browse mentor profiles and make a selection of up to three preferred mentors. Mentors will be matched as close as possible according to your preferences. Where a match with one of your selected mentors is not possible, we ask you to keep an open mind – all mentors can provide motivation and support.</p>
        <h4>Communicating with your mentor</h4>
        <p>Your mentoring partnership involves a commitment of approximately 10 hours over the duration of the scheme. This includes time spent preparing for, and following up on, activities as well as direct contact time. Typically, we expect you to have one exchange per week with your mentor for 8-10 weeks.
            Communication will be primarily via email, Skype and/or phone.  It is down to you to initiate the first contact with your mentor (within 5 working days) and to take the lead on negotiating a schedule of communication that is appropriate for you both.
            Mentoring is not just about talking about your ideas; you should aim to convert your ideas into actions. Setting yourself 2 or 3 SMART (specific, measurable, realistic action points with a time focus) at each mentoring exchange can make sure you progress your ideas. Keeping notes summarising what you have discussed and covered with your mentor will help you to focus and review your achievements.
        </p>
        <h4>Bringing you mentoring to a close</h4>
        <p>You and your mentor may choose to stay in contact but your formal mentoring partnership will finish.</p>
    </main>
</body>
<%= erb :"common/footer" %>