<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">

    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Your Admin Page</p>
        <%= h @s %> 

    </main>
</body>
<%= erb :"common/footer" %>