<!--HTML home page, displayed to everyone-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Welcome to Home Page</p>
    </main>
</body>
<%= erb :"common/footer" %>

