<!--HTML index page, displayed to everyone-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">
    <header>
         <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Welcome to E-Mentor</p>
        <p><button onclick="window.location.href='login'">Log in</button>
        <button onclick="window.location.href='register'">Register</button></p>
    </main>
</body>
<%= erb :"common/footer" %>
