<!--HTML index page, displayed to everyone-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">
    <main>
        <h1>Helping you to find the perfect mentor </h1>
        <h1>Quickly. Effiently.</h1>
        <p> “A mentor is someone who sees more talent and ability within you, 
            than you see in yourself, and helps bring it out of you.” Bob Proctor</p>
    </main>
</body>
<%= erb :"common/footer" %>
