<!--HTML index page, displayed to everyone-->
<!DOCTYPE html>

<!--Inserts a common header-->
<%= erb :"common/header" %>
<body id="Welcome Page">
    <main>
        <h1>Helping you to find the perfect mentor <br/>Quickly. Effiently.</h1>
        <p> “A mentor is someone who sees more talent and ability within you, <br/>than you see in yourself, and helps bring it out of you.” Bob Proctor</p>
        <img src="images/books.png" height="200px" id = "books">
    </main>
</body>

<!--Inserts a common footer-->
<%= erb :"common/footer" %>
