<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to E-Mentor!</title>
        <meta charset="utf-8">
        <meta name="author" content="Team 2"/>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body id="Welcome Page">

        
        <header>
          <h1>E-Mentor</h1>
        </header>
      
        <main>
            <p>Welcome to E-Mentor</p>
            <p><button onclick="window.location.href='login.erb'">Log in</button>
            <button onclick="window.location.href='register.erb'">Register</button></p>
        </main>
      
        <footer id="top"> 
          <p> </p>
        </footer>

        <footer id="bottom"> 
            <p> </p>
          </footer>


     
      </body>
</html>