<!-- HTML login page used by registered users-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Log in Page">
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Fill in credentials below to log into E-Mentor:</p>
        <% if @errorCorrect%>
            <p  id="error" >
                <b>There has been an error try again</b>
            </p>
        <% end %>
        <form method="post" action="/post-login"> 
            <p>
                <label>Email:</label> 
                <input type="email" name="email" id="email"
                maxlength="50" size="30" required>
            </p>
            <p><label>Password:</label> 
                <input type="password" name="password" id="password"
                maxlength="50" size="30" required>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>

        <p>
            Don't have an account? 
            <a href="/register">Press here</a>
        </p>
    </main>
</body>
<%= erb :"common/footer" %>
