<!-- HTML login page used by registered users-->
<!DOCTYPE html>

<!--Inserts a common header-->
<%= erb :"common/header" %>
<body id="Log in Page">
    
    <main>
        <div id="login">        
        <p>Fill in credentials below to log into E-Mentor:</p>
        <% if @error_correct%>
            <p  id="error" >
                <b>There has been an error try again</b>
            </p>
        <% elsif @error_correct2 %>
        <p  id="error" >
          <b>You have been suspended</b>
        </p>
        <% end %>
        <form method="post" action="/post-login"> 
            <p>
                <label1>Email:</label1> 
                <input type="email" name="email" id="email"
                maxlength="50" size="30" required>
            </p>
            <p><label1>Password:</label1> 
                <input type="password" name="password" id="password"
                maxlength="50" size="30" required>
            </p>
            <p>
                <input type="submit" value="Submit" id="button">
            </p>
        </form>

        <p>
            Don't have an account? 
        </p>
        <p>
            <input type="submit" value="Click here" id="button">
        </p>
        </div>
    </main>
</body>

<!--Inserts a common footer-->
<%= erb :"common/footer" %>
