<!DOCTYPE html>
<%= erb :"common/header_loggedin" %>
<body id="Make Report">

<main>
  <h2>Make a report</h2>
  <p>
    Please enter the details of the report you want to make
  </p>
  <form method="post" action="/post-make-report">
    <p><label>The name / email of user you want to report:</label>
      <p><input type="text" name="identifier" id="firstname"
                maxlength="50" size="30" required> </p>
    </p>
    <p><label>Description of what has happened: </label> </p>
    <p>
      <textarea id="descriptionBox" name="description" rows="8" cols="100"> </textarea>
    </p>
    <input type="submit" value="Submit Report">
  </form>

</main>
</body>
<%= erb :"common/footer" %>