<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to E-Mentor!</title>
        <meta charset="utf-8">
        <meta name="author" content="Team 2"/>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body id="Welcome Page">

        
        <header>
          <h1>E-Mentor</h1>
        </header>
      
        <main>
            <p>Your Mentee Page</p>
            <%= @s %>
            <p>
              Please input the Job Title and Industry Sector of the mentor you want to find!
            </p>
            <form method="post" action="/mentee">
              <%= erb :"common/industrySector" %>
            </form>
        </main>
      
        <footer id="top"> 
          <p> </p>
        </footer>

        <footer id="bottom"> 
            <p> </p>
          </footer>

      </body>
</html>
