<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">      
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <%= h @message %>
        <form method="post" action="/post-mentor-register">
            <%= erb :"common/industrySector" %>
        </form>
    </main>
</body>
<%= erb :"common/footer" %>