<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <%= h @message %>
        <form method="post" action="/post-mentee-register">
            <p><label>Degree:</label></p><p>
                <input type="text" name="degree" id="degree"
                maxlength="50" size="30" required>
            </p>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>
<%= erb :"common/footer" %>