<!--HTML registration page for mentees-->
<!DOCTYPE html>

<!--Inserts a common header-->
<%= erb :"common/header" %>
<body id="Welcome Page">


    <main>
        <%= h @message %>
        <form method="post" action="/post-mentee-register">
            <p><label>University:</label></p>
            <p>
                <input type="text" name="university" id="university"
                maxlength="50" size="30" required>
            </p>
            <p><label>Degree:</label></p>
            <p>
                <input type="text" name="degree" id="degree"
                       maxlength="50" size="30" required>
            </p>
            <p><label>Telephone:</label></p>
            <p>
              <input type="text" name="telephone" id="telephone"
                   maxlength="50" size="30" required>
            </p>

            <p><label>Description Of Yourself: </label> </p>
            <p>
                <textarea id="descriptionBox" name="description" rows="8" cols="100"> </textarea>
            </p>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>

<!--Inserts a common footer-->
<%= erb :"common/footer" %>