<!--HTML page for logged in mentors-->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page">


    <main>
        <p>Your Mentor Page</p>
        <%= h @s %>
    </main>
</body>
<%= erb :"common/footer" %>
