<!--HTML page for logged in mentors-->

<!DOCTYPE html>
<%= erb :"common/header_loggedin" %>
<body id="Welcome Page">


    <main>
        <h2>Mentor Dashboard</h2>
        <%= h @s %>
    </main>
</body>
<%= erb :"common/footer" %>
