<!-- Main HTML registration page -->

<!DOCTYPE html>
<%= erb :"common/header" %>
<body id="Welcome Page"> 
    <header>
        <h1>E-Mentor</h1>
    </header>

    <main>
        <p>Please fill in the fields below to complete registration</p>

        <form method="post" action="/post-register">
            <p><label1>First Name:</label1>
                <input type="text" name="first_name" id="firstname"
                maxlength="50" size="30" required>
            </p>

            <p><label1>Last Name:</label1>
                <input type="text" name="surname" id="surname"
                maxlength="50" size="30" required>
            </p>

            <p><label1>Email:</label1>
                <input type="email" name="email" id="email"
                maxlength="50" size="30" required>
            </p>

            <p><label1>Password:</label1>
                <input type="password" name="password" id="password"
                maxlength="50" size="30" required>
            </p>

            <p><label1>Confirm Password:</label1>
                <input type="password" name="confirmpassword" id="confirmpassword"
                maxlength="50" size="30" required>
            </p>

            <% if @errorCorrect%>
            <p class = "error">
                The two password entries must be correct.
            </p>
            <% end %>

            <p>Would you like to be a mentor or a mentee?</p>
            <input type="radio" id="mentee" name="privilege" value="Mentee">
            <label for="mentee">Mentee</label>
            <input type="radio" id="mentor" name="privilege" value="Mentor">
            <label for="mentor">Mentor</label><br>
            <input type="submit" value="Sign Up">
        </form>

        <p>If you already have an account, <a href="/login">press here.</a></p>
    </main>
</body>
<%= erb :"common/footer" %>
