<!--HTML header-->
<html lang="en">
    <head>
        <title>Welcome to E-Mentor!</title>
        <meta charset="utf-8">
        <meta name="author" content="Team 2"/>
        <link rel="stylesheet" href="styles/style.css">
        
        <header>
         
         <nav class="desktop-nav">
            <div class="desktop-header">
                <img src="images/E-mentor.PNG" height="36px">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    
                    
                </ul>
            </div>
        </nav>
    </header>
       
        
    </head>
    <hr />