<!--HTML header-->
<html lang="en">
<head>
  <title>Welcome to E-Mentor!</title>
  <meta charset="utf-8">
  <meta name="author" content="Team 2"/>
  <link rel="stylesheet" href="styles/style.css">
</head>
<header>

  <nav class="desktop-nav">
    <div class="desktop-header">
      <img src="images/E-mentor.PNG" height="36px">
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <% if @user.privilege == "Founder" %>
          <li><a href="/admin-creation">Admin Creation</a></li>
        <% end %>
        <li><a href="/logout">Logout</a></li>

      </ul>
    </div>
  </nav>
</header>
<hr />