<label1>Title:</label1>
<select name="title" required>
  <option value = "<%= @user.title %>" selected> <%= @user.title %> </option>
  <option value="Mr">Mr</option>
  <option value="Mrs">Mrs</option>
  <option value="Ms">Ms</option>
  <option value="Dr">Dr</option>
</select>