<label1>Title:</label1>
<select name="title" required>
  <option value = "<%= @change_user.get_titles %>" selected> <%= @change_user.get_titles %> </option>
  <option value="Mr">Mr</option>
  <option value="Mrs">Mrs</option>
  <option value="Ms">Ms</option>
  <option value="Dr">Dr</option>
</select>